<h1>Listing considers</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @considers.each do |consider| %>
      <tr>
        <td><%= link_to 'Show', consider %></td>
        <td><%= link_to 'Edit', edit_consider_path(consider) %></td>
        <td><%= link_to 'Destroy', consider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consider', new_consider_path %>
