// Place all the styles related to the Fosterhome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fosterhome {
	h1 {
		margin: 0;
		padding-bottom: 0.5em;
		font: 150% sans-serif;
		color: #226;
		border-bottom: 3px dotted #77d;
	}

	.pretty th {
		padding-left: 10px;
		padding-right: 10px;

		.current {
			padding-right: 18px;
			background-repeat: no-repeat;
			background-position: right center;
		}

		.asc {
			background-image: url(up_arrow.png);
			background-size: 30%;
		}

		.desc {
			background-image: url(down_arrow.png);
			background-size: 30%;
		}
	}

	/* An entry in the fosterhome */
	.entry {
		overflow: auto;
		margin-top: 1em;
		border-bottom: 1px dotted #77d;
		min-height: 100px;

		img {
			width: 80px;
			margin-right: 5px;
			margin-bottom: 5px;
			position: absolute;
		}

		h3 {
			font-size: 120%;
			font-family: sans-serif;
			margin-left: 100px;
			margin-top: 0;
			margin-bottom: 2px;
			color: #227;
		}

		p, div.age_line {
			margin-left: 100px;
			margin-top: 0.5em;
			margin-bottom: 0.8em;

			.adopt_button {
				padding: 0px 5px;
				font-size: 90%;
				border: 1px solid #9e9e9e;
				border-radius: 5px;
				font-family: "Lucida Grande";
				color: #000;
				text-decoration: none;
				background: #fcfcfc;

			}

			a:active {
				color: #fcfcfc;
				background-color: #545454;
			}

			form, div {
				display: inline;
			}
		}

		.age {
			color: #44a;
			font-weight: bold;
			margin-right: 3em;
		}
	}
}