<form action="/list" method="post">
	<select name="sortorder">
		<option value="id">Rank</option>
		<option value="title">Title</option>
		<option value="author">Author</option>
		<option value="language">Language</option>
		<option value="published">Published date</option>
	</select>
	<input type="submit" value="Display List"> 
</form>