/* Global styles */

footer {
  text-align: center;
  background: #2a357d;
  color: #99a5f2;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a {
  color: #99a5f2;
}

.pretty th .current {
  padding-right: 18px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th {
  padding-left: 10px;
  padding-right: 10px;
}

.pretty th .asc {
  background-image: url(../images/up_arrow.png);
  background-size: 30%;
}

.pretty th .desc {
  background-image: url(../images/down_arrow.png);
  background-size: 30%;
}

#banner {
  background: #6b79cf;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #0915ba;
  text-align: center;
}

#logoPad {
  padding-left: 5px;
}

#banner img {
  float: left;
}

#columns {
  background: #2a357d;
}

#main {
  margin-left: 17em;
  padding-top: 4ex;
  padding-left: 2em;
  background: #e8cfac;
}

#side {
  float: left;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  width: 16em;
  background: #2a357d;
}

#side a, #side p {
  color: #99a5f2;
  font-size: medium;
}

#fosterhome #notice {
        color: #000;
        border: 2px solid red;
        padding: 1em;
        margin-bottom: 2em;
        background-color: #f0f0f0;
        font: bold smaller sans-serif;
}

#fosterhome .entry form, #fosterhome .entry form div {
  display: inline;
}

#fosterhome h1 {
        font:  150% sans-serif;
        color: #226;
        border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#pet_list table {
        border-collapse: collapse;
}

#pet_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#pet_list .list_image {
  width:        200px;
  height:       210px;
}

#pet_list .list_description {
  width:        60%;
}

#pet_list .list_description dl {
        margin: 0;
}

#pet_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}

#pet_list .list_description dd {
        margin: 0;
}

#pet_list .list_actions {
  font-size:    medium;
  text-align:   center;
  padding-left: 1em;
}

#pet_list .list_line_even {
  background:   #bc8af2;
}

#pet_list .list_line_odd {
  background:   #63e6f7;
}

/* An entry in the fosterhome catalog */

#fosterhome  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#fosterhome  .title {
  font-size: 120%;
  font-family: sans-serif;
}

#fosterhome .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}


#fosterhome .entry h3 {
 margin-top: 0;
 margin-bottom: 2px;
 color: #227;
}

#fosterhome .entry p {
 margin-top: 0.5em; 
 margin-bottom: 0.8em; 
}

#fosterhome .entry .age_line {
 clear: both;
 margin-bottom: 0.5em;
}

#fosterhome .entry .add_to_cart {
  position: relative;
}

#fosterhome .entry  .age {
  color: #44a;
  font-weight: bold;
  margin-right: 2em;
}